[submodule "MBeautifier"]
	path = MBeautifier
	url = https://github.com/MaxGaukler/MBeautifier.git
[submodule "matlab2tikz"]
	path = matlab2tikz
	url = https://github.com/matlab2tikz/matlab2tikz.git
[submodule "matlab-xunit"]
	path = matlab-xunit
	url = https://github.com/psexton/matlab-xunit.git
[submodule "git-archive-all.sh"]
	path = git-archive-all.sh
	url = https://github.com/MaxGaukler/git-archive-all.sh.git
